<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Welcome to the personal website of Floo. Explore projects, interests, and get in touch.">
    <meta name="keywords" content="Floo, personal website, projects, web development, artificial intelligence, process automation">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="https://floo.one{{ page.url }}">
    <script src="https://kit.fontawesome.com/94ddf13ef3.js" crossorigin="anonymous" async></script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Florian Maag",
      "url": "https://floo.one",
      "sameAs": [
        "https://instagram.com/floo.one",
        "https://linkedin.com/in/floo",
        "https://github.com/floo-one",
        "https://www.tiktok.com/@floo.one"
      ],
      "jobTitle": "Digital Process Automatisation",
      "worksFor": {
        "@type": "Organization",
        "name": "Florian Maag"
      }
    }
    </script>
    <link rel="preload" href="/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/styles.css"></noscript>
</head>
<body>
    <header>
        <button id="dark-mode-toggle" class="dark-mode-toggle">
            <img id="mode-icon" src="/light-mode-icon.png" alt="Toggle Dark Mode">
        </button>
    </header>
    {% include "partials/header.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
    <script src="/scripts.js" async></script>
</body>
</html>
